.logo {
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.logo a:link,
.logo a:visited,
.sidebar__navigation__link:link,
.sidebar__navigation__link:visited {
  text-decoration: none;
  color: #fff;
}

.sidebar__navigation__link:link:hover {
  background-color: #fff;
}

.icon-logo {
  margin-left: 0.5rem;
}

.sidebar__navigation {
  justify-content: center;
  font-size: 1.2rem;
}

.sidebar__navigation__link {
  margin-bottom: 1rem;
}

.nav__icons {
  margin-right: 0.5rem;
}
