body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section__sidebar {
  height: 100vh;
  min-width: 18rem;
  text-align: center;
}

.section__sidebar.collapsed {
  min-width: 0;
}
